---
- name: Gather package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Set and sanitize systemd version facts
  ansible.builtin.set_fact:
    systemd_version: >-
      {{ ansible_facts.packages['systemd'][0].version }}

- name: Creates service directory
  ansible.builtin.file:
    path: /etc/systemd/system/{{ php_fpm_daemon }}.service.d
    state: directory
    owner: root
    group: root
    mode: "0750"

- name: Create service file
  ansible.builtin.template:
    src: etc/systemd/restart.conf.j2
    dest: /etc/systemd/system/{{ php_fpm_daemon }}.service.d/restart.conf
    owner: root
    group: root
    mode: "0600"
  notify: Restart php-fpm
